.navlist {
    display: flex;
    justify-content: flex-end;
    gap: 60px;
    list-style-type: none;
}
.navlink{
    text-decoration: none;
    color: #c41b39;
}

.profile-container{
    display: flex;
    width: 80vw;
    align-items: center;
    margin: 50px auto;
}